<a href="https://colab.research.google.com/github/Kmohammadkhaja/htop-app/blob/main/Copy_of_Python_onl_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

Python is a high-level, interpreted, and general-purpose programming language that emphasizes code readability and simplicity. It was created by Guido van Rossum in 1991.

## Key Features of Python
1. Easy to Learn and Use.
2. High-level programming language (language that is closer to human language and farther from machine language. It allows programmers to write code that is easy to read, write, and maintain, without worrying about the complex details of the computerâ€™s hardware.)

3. Interpreted Language: An interpreted language is a programming language in which the code is executed line by line by an interpreter.
4. Dynamically Typed: do not need to explicitly declare the type of a variable. The interpreter automatically determines the variable type at runtime
5. Extensive Libraries
6. Cross-Platform

## Why Python is Popular
- Simple syntax
- Large community
- Open-source
- Great for beginners
- Widely used in AI, ML, Web Dev, Automation

## Python Applications
1. Web Development (Django, Flask)
2. Data Science (NumPy, Pandas, Matplotlib)
3. AI / ML (TensorFlow, PyTorch)
4. Automation / Scripting
5. Game Development (Pygame)

In [ ]:
a=5
b=3
print(a+b)

# Identifiers

* An identifier is the name we provide to an entity such as a function or variable.
* It helps in differentiating one entity from other.
  
_There are certain dos and don'ts to observe while picking an identifier._

In [ ]:
# Identifier cannot begin with a digit
2var=45

SyntaxError: invalid decimal literal (ipython-input-3493233270.py, line 2)

In [ ]:
# It cannot contain a special symbol except _
d@rt=89

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (ipython-input-335597591.py, line 2)

In [ ]:
sd_=67

In [ ]:
# Keywords cannot be used as identifier
import=67

SyntaxError: invalid syntax (ipython-input-411707067.py, line 2)

var2---valid

ghy$t--invalid

34pot----invalid

break---invalid---keyword

jkl_kl---valid

# This is a text cell
## this is second line
### Third

In [ ]:
# This code is about 2 numbers
# Single line comment

'''This is a multi line comment
this is second line of the comment'''
a=4
# this is a comment shortcut is  ctrl + /
# shortcut for running the cell is shift + enter

In [ ]:
# Hey how are you

# Keywords
* Keywords are reserved words in Python with designated meanings.
* These cannot be used as identifiers to name objects.

In [ ]:
import keyword
(keyword.kwlist)

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# Comments
The use of comments in a code cell can explain the method or operation in use. Commenting helps to
- Improve readability
- Make for a quick review of the work

# Statements
* Instructions that a Python interpreter can execute

In [ ]:
a=5
b=5
c=10
sum1=a+b+c #a single line statement
sum1

20

In [ ]:
sum2= a+b+\
c
sum2

20

# Variables

*  A Python variable creates a reserved memory location to store a value.
*  A variable can be initialised by assigning some value to begin with.

In [ ]:
a=3
id(a) #location of the stored variable

11654440

In [ ]:
b=89
id(b)

11657192

In [ ]:
j,k,l=10,20,30

In [ ]:
k

20

In [ ]:
p=q=r=7

In [ ]:
r

7

# Data Types

## Numerical

In [ ]:
# Integers are represented by int
val1=2
type(val1)

int

In [ ]:
val2=-5676
type(val2)

int

In [ ]:
# Decimal point numbers are represented by float
var3=7.9
type(var3)

float

In [ ]:
fl=-4.0
type(fl)

float

In [ ]:
# complex data type
com=2+9j
type(com)

complex

## Boolean

In [ ]:
# True and False ---- represented by bool
# False is also represented by number 0
ap=True
type(ap)

bool

In [ ]:
bool(78)

True

In [ ]:
bool(0)

False

In [ ]:
bool(-1)

True

# Typecasting

Type Casting is the process of a variable's data type converted into another type in order for an operation to be performed.

* There are 2 ways in which typecasting occurs:

1) Autotypecasting

2) Forced Typecasting

## Auto Typecasting
* The Python interpreter automatically converts one data type to another without any user involvement.

In [ ]:
# Auto typecasting
a=9.8
b=2
sum=a+b

sum

11.8

In [ ]:
# forced typecasting
a=9.8
b=2
sum=int(a+b)   #forced it to integer value

# String

Sequence of characters. It is represented by str. To assign a string we enclose it within quotation marks  "" or ''.

In [ ]:
sen="This is first string"
type(sen)

str

In [ ]:
sen2="23"
type(sen2)

str

In [ ]:
sen3="asdfg5433*"
type(sen3)

str

In [ ]:
sen="This is first string"